# Copyright 2026 Filip Dymczyk and Konrad Grucel


config BATTERY_LEVEL_DRV
    bool "battery measurement module"
    select ADC

if BATTERY_LEVEL_DRV

config MAX_BATTERY_LEVEL
    int "battery max level [mV]"
    default 8400

config MIN_BATTERY_LEVEL
    int "battery max level [mV]"
    default 6000

config BATTERY_LEVEL_LOG
    bool "Enable logging from battery level driver"
    depends on LOGGER_DRV

endif #BATTERY_LEVEL_DRV