build
build-*
*.cache

*.vscode
compile_commands.json
slprj
*.asv
*.slxc

*.zip
__pycache__

app/controller_rpi/uploads/

controller_rpi/wifi_AP_setup.txt
app/controller_rpi/syn_local.sh
app/controller_rpi/syn_rpi.sh

app/controller_rpi/dfu_log.txt
