# Copyright 2026 Filip Dymczyk and Konrad Grucel

config ROBOT_CONTROL
    bool "Regulator driver module"
    depends on IMU_DRV

if ROBOT_CONTROL

config ROBOT_CONTROL_LOG
    bool "Enable logging from robot control loop"
    depends on LOGGER_DRV

config PID_ENABLED
    bool "PID controller enabled, else enable LQR"

config VALIDATE_ROBOT_ANGLE
    bool "Validate robot angle and disable motors if angle is out of range"

endif #ROBOT_CONTROL
