menu "Zephyr"
source "Kconfig.zephyr"
endmenu

config TARGET_BLE_DEVICE_NAME
	string "BLE device name which controller should connect"
	default "SELF_BALANCING_ROBOT"

# TO DO:
# allign logic in self balance robot logic which enable to rotate +40 and -40 degres
config ROTATE_RIGHT_COMMAND
	string "Messeage which should be send to robot in case to rotate +40 degrees"
	default "rs40"

config ROTATE_LEFT_COMMAND
	string "Messeage which should be send to robot in case to rotate -40 degrees"
	default "rs5"
