config MOTOR_CONTROLLER_DRV
    bool "motor controller module"
    select PWM

if MOTOR_CONTROLLER_DRV

config PWM_LIMIT
    int "Max PWM limit"
    default  100

config PWM_PERIOD_US
    int "PWM PERIOD [us]"
    default  100 # Equivalent of 0.1 ms.

config MOTOR_CONTROLLER_LOG
    bool "Enable logging from motors driver"
    depends on LOGGER_DRV

endif #MOTOR_CONTROLLER_DRV
