config IMU_DRV
    bool "IMU driver module"
    select MPU6050
    select SENSOR
    select I2C
    select GPIO # To be checked if it's needed

if IMU_DRV

config IMU_LOG
    bool "Enable logging from IMU driver"
    depends on LOGGER_DRV

config IMU_CALIBRATE_GYRO
    bool "Calibrate IMU gyro before operation"
    select LOGGER_DRV
    select IMU_LOG

endif #IMU_DRV
