menu "Zephyr"
source "Kconfig.zephyr"
endmenu

config TARGET_BLE_DEVICE_NAME
	string "BLE device name which controller should connect"
	default "SELF_BALANCING_ROBOT"

# TODO: align logic in self balance robot logic which enable to rotate +40 and -40 degrees
config ROTATE_RIGHT_COMMAND
	string "Message which should be send to robot in case to rotate +40 degrees"
	default "rs60"

config ROTATE_LEFT_COMMAND
	string "Message which should be send to robot in case to rotate -40 degrees"
	default "rs5"

config DRIVE_FORWARD_COMMAND
	string "Message which should be send to robot in case to drive forward"
	default "d"	

config JOYSTICK_SAMPLE_TIME
	int "ADC sample time"
	default 100

config RAMP_RATE
	int "Ramp rate"
	default 50

config CONTROLLER_APP
	bool "Dummy Kconfig for getting utils.h"
	default y


