config MOTOR_CONTROLLER_DRV
    bool "motor controller module"
    select PWM

if MOTOR_CONTROLLER_DRV

config PWM_PERIOD_NS
    int "PWM PERIOD [ns]"
    default  20000000

module = MOTOR_CONTROLLER
module-str = MOTOR_CONTROLLER_DRV
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif #MOTOR_CONTROLLER_DRV
