# Copyright 2026 Filip Dymczyk and Konrad Grucel

rsource "logger/Kconfig"
rsource "utils/Kconfig"
rsource "battery_level/Kconfig"
rsource "motor_controller/Kconfig"
rsource "imu/Kconfig"
rsource "bluetooth/Kconfig"
rsource "interface/Kconfig"
rsource "model_identification/Kconfig"
rsource "encoder/Kconfig"
rsource "watchdog_controller/Kconfig"
rsource "dfu_smp/Kconfig"
