rsource "utils/Kconfig"
rsource "battery_level/Kconfig"
rsource "motor_controller/Kconfig"
rsource "imu/Kconfig"
rsource "logger/Kconfig"
rsource "interface/Kconfig"
rsource "model_identification/Kconfig"
rsource "encoder/Kconfig"
rsource "supervisor/Kconfig"
