# It must be present to get all zephyr Kconfigs using in nrf-sdk

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

config APP_LOG
    bool "Enable logging from app"
    depends on LOGGER_DRV

config APP_DEBUG
    bool "Enable application debug version"
    depends on LOGGER_DRV

module = APP
module-str = MAIN_APP
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
