config MODEL_IDENTIFICATION_DRV
    bool "motor controller module"

if MODEL_IDENTIFICATION_DRV

config MODEL_IDENTIFICATION_LOG
    bool "Enable logging from model identification driver"

config MODEL_IDENTIFICATION_SAMPLE_TIME
    int "Model identification sampling time in milliseconds"
    default 5
    help
      TODO:
      make sapling time stable (now it is oscilating a little bit betweeen 6 and 7ms)

endif #MODEL_IDENTIFICATION_DRV