config REGULATOR_DRV
    bool "Regulator driver module"
    depends on IMU_DRV
    depends on MOTOR_CONTROLLER_DRV

if REGULATOR_DRV

config REGULATOR_SAMPLE_TIME
    int "Regulator sampling time in milliseconds"
    default 1

config REGULATOR_LOG
    bool "Enable logging from motors driver"
    depends on LOGGER_DRV

config ALPHA
    int "Angle filter coefficient unscaled"
    default 10

config ALPHA_SCALER
    int "Alpha coefficient scaler"
    default 100

config PID_ENABLED
    bool "PID controller enabled, else enable LQR"

endif #REGULATOR_DRV
